.home{
    padding-left: 10rem;
    padding-top: 5rem;
    padding-right: 10rem;
}
.blue_color {
    color: #56dbbf;
}

.home_myname{
    
    color: #ccd6f6;
   
}

.home_myname_character{
    font-size: 4rem;
    transition-duration: 25ms;
    transition-timing-function: steps(2, jump-both);
    transition-property:  color font-size;
}

.home_myname_character:hover{
    font-size:3rem;
    color: white;
}



.home_smalldisc{
    font-size: 4rem;
    color: #8892b0;
}

.home_generalintro{
    width: 40%;
    color: #8892b0;
}